<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
    <title>Tech Trend Analysis</title>
</head>
<body>
    <!--header(사이트 이름)-->
    <div id="trend_header">
        <p id="title">Technology Trend Analysis</p>
    </div>
    <div>
        <!--사이드바-->
        <div class="left-side-bar">
            <div class="status-ico">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-right-square-fill" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/>
                  </svg></span>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z"/>
                  </svg></span>
            </div>
    
            <ul>
                <li>  </li>
                <li>
                    <a th:href="@{/home}">Home</a>
                </li>
                <li>
                    <a href="#">IPC분류</a>
                    <ul>
                        <li><a th:href="@{/A_section}">A Section</a></li>
                        <li><a th:href="@{/B_section}">B Section</a></li>
                        <li><a th:href="@{/C_section}">C Section</a></li>
                        <li><a th:href="@{/D_section}">D Section</a></li>
                        <li><a th:href="@{/E_section}">E Section</a></li>
                        <li><a th:href="@{/F_section}">F Section</a></li>
                        <li><a th:href="@{/G_section}">G Section</a></li>
                        <li><a th:href="@{/H_section}">H Section</a></li>
                        <li><a th:href="@{/Y_section}">Y Section</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="A_main" >
            <div style="display: flex; margin-left: 450px; margin-right: 100px;">
                <div id="A_section">
                    <div>
                        <div id="section_0">
                            &nbsp&nbsp IPC 분류 &nbsp&nbsp
                        </div>
                        <p id="section_1">IPC(International Patent Classification, 국제특허분류)는 발명의 기술분야를 나타내는 국제적으로 통일된 특허분류체계로, 
                            특허청은 특허문헌의 분류, 검색을 용이하게 하도록 국내의 모든 출원건에 대하여 IPC를 부여하고 있다.</p>
                    </div>
                    <br><br><br>
                    <div>
                        <h1 id="section_0">&nbsp&nbsp D Section : 섬유; 지류 &nbsp&nbsp</h1>
                        <br><br>
                        <table>
                            <thead>
                                <tr>
                                    <td>코드</td>
                                    <td id="script_col">설명</td>                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2" id="sec_sub_title">&nbsp&nbsp&nbsp&nbsp ** 섬유 또는 달리 제공되지 않는 가연성 재료</td>
                                </tr>
                                <tr>
                                    <td id="code_col">D01</td>
                                    <td>천연사 또는 인조사, 또는 섬유; 방적</td>
                                </tr>
                                <tr>
                                    <td id="code_col">D02</td>
                                    <td>사; 사 또는 로프의 기계적인 끝마무리; 정경(정경) 또는 빔 권취</td>
                                </tr>
                                <tr>
                                    <td id="code_col">D03</td>
                                    <td>제 직</td>
                                </tr>
                                <tr>
                                    <td id="code_col">D04</td>
                                    <td>부직포; 트리밍; 편물; 레이스뜨기; 꼰끈</td>
                                </tr>
                                <tr>
                                    <td id="code_col">D05</td>
                                    <td>봉제; 자수; 터프팅</td>
                                </tr>
                                <tr>
                                    <td id="code_col">D06</td>
                                    <td>섬유 또는 유사물의 처리; 세탁; 달리 분류되지 않는 가요성 재료</td>
                                </tr>
                                <tr>
                                    <td id="code_col">D07</td>
                                    <td>로프; 전기적인 것 이외의 케이블</td>
                                </tr>                            
                                <tr>
                                    <td colspan="2" id="sec_sub_title">&nbsp&nbsp&nbsp&nbsp ** 종이</td>
                                </tr>
                                <tr>
                                    <td id="code_col">D21</td>
                                    <td>제지; 셀룰로스의 제조</td>
                                </tr>
                                <tr>
                                    <td id="code_col">D99</td>
                                    <td>이 섹션 중에서 그 밖에 분류되지 않는 주제 사항</td>
                                </tr>                            

                            </tbody>
                        </table>
                    </div>

                </div>
                
            </div>
            
        </div>
        <div style="height: 200px;">

        </div>
        
    </div>
    
    
</body>
</html>