<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tech Trend Analysis</title>
    
    <link th:href="@{/style.css}" rel="stylesheet" />
    <!--anychart-->
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-pie.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
    
</head>
<body>
    <!-- 왼쪽 사이드 메뉴 스크립트 -->
    <script th:inline="javascript">
        $(function () {
            $(".left_sub_menu").hide();
            $(".has_sub").click(function () {
                $(".left_sub_menu").fadeToggle(300);
            });
            // 왼쪽메뉴 드롭다운
            $(".sub_menu ul.small_menu").hide();
            $(".sub_menu ul.big_menu").click(function () {
                $("ul", this).slideToggle(300);
            });
            // 외부 클릭 시 좌측 사이드 메뉴 숨기기
            $('.overlay').on('click', function () {
                $('.left_sub_menu').fadeOut();
                $('.hide_sidemenu').fadeIn();
            });
        });
    </script>
    <!--header(사이트 이름)-->
    <div id="trend_header">
        <a th:href="@{/home}"><p id="title">Technology Trend Analysis</p></a>
    </div>
    
    <div>
        <!--사이드바-->
        <div class="left-side-bar">
            <div class="status-ico">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-right-square-fill" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/>
                  </svg></span>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z"/>
                  </svg></span>
            </div>
    
            <ul>
                <li>  </li>
                <li>
                    <a th:href="@{/home}">Home</a>
                </li>
                <li>
                    <a href="#">IPC분류</a>
                    <ul>
                        <li><a th:href="@{/A_section}">A Section</a></li>
                        <li><a th:href="@{/B_section}">B Section</a></li>
                        <li><a th:href="@{/C_section}">C Section</a></li>
                        <li><a th:href="@{/D_section}">D Section</a></li>
                        <li><a th:href="@{/E_section}">E Section</a></li>
                        <li><a th:href="@{/F_section}">F Section</a></li>
                        <li><a th:href="@{/G_section}">G Section</a></li>
                        <li><a th:href="@{/H_section}">H Section</a></li>
                        <!--<li><a th:href="@{/Y_section}">Y Section</a></li>-->
                    </ul>
                </li>
            </ul>
        </div>

        <script th:inline="javascript">
            anychart.onDocumentReady(function () {
                var chart = anychart.pie([
                    {x: "F25", value: 26.4229876988406},
                    {x: "G08", value: 24.5020037972943},
                    {x: "B32", value: 19.079229213734},
                    {x: "G05", value: 18.803003375857},
                    {x: "B64", value: 18.6255510567601},
                    {x: "F15", value: 18.4978663621048},
                    {x: "F05", value: 17.231890860633},
                    {x: "B66", value: 16.6021627010919},
                    {x: "A41", value: 14.2443788239777},
                    {x: "B08", value: 13.8788562783008}
                ]);

                chart.innerRadius("25%");

                var label = anychart.standalones.label();
                label.text("Tech Trend");
                label.width("100%");
                label.height("100%");
                label.adjustFontSize(true);
                label.fontColor("#60727b");
                label.hAlign("center");
                label.vAlign("middle");

                // set the label as the center content
                chart.center().content(label);

                //chart.title("Donut Chart: Label in the center");
                chart.container("container_doughnut");
                chart.draw();
            });
        </script>


        <script th:inline="javascript">
            anychart.onDocumentReady(function () {

                // create a categorized chart
                var chart = anychart.cartesian();

                // create data
                var data1 = {};
                var dataArray = [];
                [# th:each= "IPC :${IPC}"]           //반복문으로 리스트 값 받아오기
                    data1.x = [[${IPC.ipc_code}]];     //변수 받기
                    data1.value = [[${IPC.average_fluctuation_rate}]];
                    data1.size = [[${IPC.average_fluctuation_rate}]];
                    dataArray.push({...data1});         //json형식으로 데이터 추가하기 위해서
                    console.log(JSON.stringify(dataArray));
                [/]

                // create a chart
                chart.bubble(dataArray);

                // set the interactivity mode
                chart.interactivity().hoverMode("by-x");

                // create a bubble series and set the data
                series = chart.bubble(dataArray);

                // set the chart title
                //chart.title("Bubble Chart: Appearance (Individual Points)");

                // enable the legend
                //chart.legend(true);
                
                var seriesLabels = chart.getSeries(0).labels().enabled(true);
                seriesLabels.format("{%x}");

                chart.minBubbleSize("3%");
                chart.maxBubbleSize("30%");
                

                // set the titles of the axes
                //chart.xAxis().title("Year");
                //chart.yAxis().title("Sales, $")
                chart.xAxis().enabled(false);
                chart.yAxis().enabled(false);

                // set the container id
                chart.container("container_bubble");

                // initiate drawing the chart
                chart.draw();
                });
        </script>


        <script th:inline="javascript">
            anychart.onDocumentReady(function () {
                // create a categorized chart
                var chart = anychart.cartesian();

                // create data
                var data1 = {};
                var dataArray = [];
                [# th:each= "IPC_freq :${IPC_freq}" ]           //반복문으로 리스트 값 받아오기
                    data1.x = [[${IPC_freq.ipc_code}]];     //변수 받기
                    data1.value = [[${IPC_freq.frequency}]];
                    dataArray.push({...data1});         //json형식으로 데이터 추가하기 위해서
                    console.log(JSON.stringify(dataArray));
                [/]

                // create a chart
                var chart = anychart.column(dataArray);

                // create a column series and set the data
                //var series = chart.column(dataArray);

                // set the chart title
                //chart.title("Column Chart: Appearance (Individual Points)");

                // set the titles of the axes
                chart.xAxis().title("IPC");
                chart.yAxis().title("특허 빈출횟수");

                // background settings
                var xLabelsBackground = chart.xAxis().labels().background();
                xLabelsBackground.enabled(true);
                xLabelsBackground.stroke("#708090");
                xLabelsBackground.cornerType("round");
                xLabelsBackground.corners(5);
                

                // set the container id
                chart.container("container_column");

                // initiate drawing the chart
                chart.draw();
                });
        </script>

        <script th:inline="javascript">
            anychart.onDocumentReady(function () {
                // create a categorized chart
                var chart = anychart.cartesian();

                // create data
                var data1 = {};
                var dataArray = [];
                [# th:each= "IPC_aver :${IPC_aver}" ]           //반복문으로 리스트 값 받아오기
                    data1.x = [[${IPC_aver.ipc_code}]];     //변수 받기
                    data1.value = [[${IPC_aver.average_fluctuation_rate}]];
                    dataArray.push({...data1});         //json형식으로 데이터 추가하기 위해서
                    console.log(JSON.stringify(dataArray));
                [/]

                // create a chart
                var chart = anychart.column(dataArray);

                // create a column series and set the data
                //var series = chart.column(dataArray);

                // set the chart title
                //chart.title("Column Chart: Appearance (Individual Points)");

                // set the titles of the axes
                chart.xAxis().title("IPC");
                chart.yAxis().title("평균 등락률");

                // background settings
                var xLabelsBackground = chart.xAxis().labels().background();
                xLabelsBackground.enabled(true);
                xLabelsBackground.stroke("#708090");
                xLabelsBackground.cornerType("round");
                xLabelsBackground.corners(5);
                

                // set the container id
                chart.container("container_column2");

                // initiate drawing the chart
                chart.draw();
                });
        </script>

        <div id="analysis_div" >
            <div id="div1" style="display: flex; margin-left: 350px; margin-right: 20px;">
                <div id="trend_list">
                    <div id="trend_list_title">&nbsp&nbsp2022 기술트렌드 예측 TOP 10 (by. IPC)&nbsp&nbsp</div>
                    <div style="display: block; margin: auto; background-color: #dee0e3; border-radius: 20px;">
                        <th:block th:each="t : ${top_trend}">
                            <th:block th:each="ipc_t : ${ipctitle}" th:if="${t.ipc_code == ipc_t.ipc_code}">
                                <div id="mylist">
                                    <a th:href="@{/keyword(param1=${t.ipc_code})}"><img th:src="@{/img/} + ${t.ipc_code} +'.png'" width="30px" height="30px" style="float: right;" alt="G08"><p th:text="${t.ipc_code} +' - '+ ${ipc_t.title}">G08 - 신호 </p></a>                                
                                </div>
                            </th:block>
                            
                            <!--
                            <ol class="mylist">
                                <a th:href="@{/keyword(param1='G08')}"><li th:text="${t.title}">G08 - 신호 <img th:src="@{/img/G08.png}" width="50px" height="50px" style="float: right;" alt="G08"></li></a>                                
                                <a th:href="@{/keyword(param1='G08')}"><li>G08 - 신호 <img th:src="@{/img/G08.png}" width="50px" height="50px" style="float: right;" alt="G08"></li></a>
                                <a th:href="@{/keyword(param1='B32')}"><li>B32 - 적층체 <img th:src="@{/img/B32.png}" width="50px" height="50px" style="float: right;" alt="B32"></li></a>
                                <a th:href="@{/keyword(param1='G05')}"><li>G05 - 제어; 조정<img th:src="@{/img/G05.png}" width="50px" height="50px" style="float: right;" alt="G05"></li></a>
                                <a th:href="@{/keyword(param1='B64')}"><li>B64 - 항공기; 비행; 우주공학<img th:src="@{/img/B64.png}" width="50px" height="50px" style="float: right;" alt="B64"></li></a>
                                <a th:href="@{/keyword(param1='F15')}"><li>F15 - 액체압 액튜에이터; 유체학 또는 공기역학일반<img th:src="@{/img/F15.png}" width="50px" height="50px" style="float: right;" alt="F15"></li></a>
                                <a th:href="@{/keyword(param1='F05')}"><li>F05 - 엔진 또는 펌프와 관련된 F01-F04분류의 다양한 하위 등급분야<img th:src="@{/img/F05.png}" width="50px" height="50px" style="float: right;" alt="F05"></li></a>
                                <a th:href="@{/keyword(param1='B66')}"><li>B66 - 견인장치; 양중장치; 권상장치<img th:src="@{/img/B66.png}" width="50px" height="50px" style="float: right;" alt="B66"></li></a>
                                <a th:href="@{/keyword(param1='A41')}"><li>A41 - 의류<img th:src="@{/img/A41.png}" width="50px" height="50px" style="float: right;" alt="A41"></li></a>
                                <a th:href="@{/keyword(param1='B08')}"><li>B08 - 청소<img th:src="@{/img/B08.png}" width="50px" height="50px" style="float: right;" alt="B08"></li></a>
                                
                            </ol>
                            -->
                        </th:block>
                      </div>
                      
                </div>
                <div id="trend_doughnut">
                    <div id="container_doughnut" style="width: 100%; height: 100%;"></div>
                </div>
            </div>

            <div style="display: flex;">
                <div id="div1-1" style="margin-left: 350px; margin-right: 5px; margin-top: 120px;">
                    <div id="trend_analysis_title">&nbsp&nbsp 2021년 최다빈출 TOP 10 &nbsp&nbsp</div>
                    <div id="container_column" style="width: 600px; height: 100%; display: block; margin: auto; "></div>
                </div>
    
                <div id="div1-2" style="margin-left: 150px; margin-right: 20px; margin-top: 120px;">
                    <div id="trend_analysis_title">&nbsp&nbsp 평균등락률(2016~2021) TOP 10 &nbsp&nbsp</div>
                    <div id="container_column2" style="width: 600px; height: 100%; display: block; margin: auto; "></div>
                </div>
            </div>
            

            <div id="div3" >
                <div id="trend_analysis_title">&nbsp&nbsp 2022 트렌드 IPC 분포 &nbsp&nbsp</div>
                <div id="container_bubble" style="width: 75%; height: 90%; display: block; margin: auto; "></div>
            </div>
            <!--
            <div id="div2">
                <div id="trend_analysis_title">&nbsp&nbsp 기술 분석 및 향후 추이&nbsp&nbsp</div>
                <div id="container_line" style="width: 70%; height: 100%; display: block; margin: auto; "></div>
            </div>

            <div id="div4">
                <div id="trend_analysis_title">&nbsp&nbsp IPC 비율 분석 &nbsp&nbsp</div>
                <div id="container_bar" style="width: 70%; height: 100%; display: block; margin: auto; "></div>
            </div>
            -->
        </div>
    
    </div>
    
    
</body>
</html>