<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultpage</title>
</head>
<body>
<h1>keyword</h1>
<div th:text="${mainpage.keyword}">keyword</div>
<h1>title</h1>
<div th:text="${mainpage.newstitle}">news title</div>
<h1>title and link</h1>
<a th:href="@{${mainpage.newsURL}}"><div th:text="${mainpage.newstitle}"></div></a>

<h1>youtube</h1>
<table>
    <thead>
    <tr>
        <th>youtube id</th>
        <th>youtube title</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "m: ${mainpage}">
        <td th:text = "${m.youtubeid}"></td>
        <td th:text = "${m.youtubetitle}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>