.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

/** header */
#trend_header {
    background-color: #FFE69A; 
    width: 100%; 
    height: 100px; 
    position: fixed;
}

#title {
    font-size: 30px; 
    font-family: Verdana; 
    font-weight: bold; 
    font-style: oblique; 
    margin-left: 40px;
    /** text-shadow: -1px 0 #111cf5, 0 1px #111cf5, 1px 0 #111cf5, 0 -1px #111cf5; */
    text-decoration: underline ;
    background-color: white;
    width: fit-content;
}



/**sidebar */
body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.left-side-bar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #C4DDFF;
}

body {
    height: 1000px;
}

.left-side-bar {
    background-color: #C4DDFF;
    height: 100%;
    width: 280px;
    position: fixed;
    top: 100px;
    /**left: -155px;
    transition: left .3s;
    */
}

.left-side-bar > .status-ico {
    text-align: right;
    padding: 10px;
}

.left-side-bar > ul li {
    position: relative;
}

.left-side-bar ul {
    font-weight: bold;
    text-align: center;
    padding: 0;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.left-side-bar ul > li > a {
    display: block;
    padding: 10px;
    white-space: nowrap;
}

.left-side-bar:hover {
    left: 0;
}

.left-side-bar ul > li:hover ul {
    display: block;
}

.left-side-bar ul > li:hover > a {
    color: white;
    background-color: #7FB5FF;
}

.left-side-bar > .status-ico > span:last-child {
    display: none;
}

.left-side-bar:hover > .status-ico > span:last-child {
    display: block;
}

.left-side-bar:hover > .status-ico > span:first-child {
    display: none;
}

/** 메인 - analysis_div*/

#trend_list {
    /*border-style: groove; */
    margin-top: 200px; 
    margin-right: 10px; 
    margin-bottom: 100px;
    width: 60%; 
    height: 480px;
}

#trend_list_title {
    font-size: 30px; 
    border-style: ridge; 
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 7px;
}

#trend_analysis_title {
    font-size: 30px; 
    border-style: ridge; 
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 7px;
}

#trend_doughnut {
    border-style: ridge; 
    border-radius: 10px;
    margin-top: 200px; 
    width: 40%;
    height: 480px;
}

ol.mylist li {
    padding: 5px 0px 5px 5px;
    margin: 20px;
    border-bottom: 1px solid #efefef;
    font-size: 19px;
    font-weight: bold;
    list-style-type: decimal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

ol.mylist li:hover {
    color: blue;
    font-style: oblique;
    background-color: aliceblue;
}

#div2 {
    margin-left: 350px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 300px;
    /*border-style: groove;*/
    height: 700px;
}

#div3 {
    margin-left: 350px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 200px;
    /*border-style: groove;*/
    height: 700px;
}

#div4 {
    margin-left: 350px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 200px;
    /*border-style: groove;*/
    height: 700px;
}

#keyword {
    margin-top: 200px;
}

#keyword_detail {
    margin-top: 200px;
}

#de_news {
    margin-left: 250px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 300px;
    border-style: groove;
    height: 700px;
    width: 600px;
}

#de_YOUTUBE {
    margin-left: 250px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 300px;
    border-style: groove;
    height: 700px;
    width: 600px;
}

#A_section {
    margin-top: 200px;
    /*border-style: dashed;*/
}

table {
    border: 3px solid #797878;
    font-size: 20px;
    border-collapse: collapse;
}

thead {
    border: 3px solid #797878;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    
}

tr, td {
    border: 1px solid #797878;
    padding: 7px;
}

#sec_sub_title {
    text-align: left;
    font-weight: bold;
}

#code_col {
    width: 150px;
    text-align: center;
    
}

#script_col {
    width: 1000px;
}

#section_0 {
    font-size: 30px; 
    border-style: ridge; 
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 7px;
    margin: 0px;
    width: fit-content;
}

#section_1 {
    font-size: 20px;
    margin-right: 120px;
}